// -----------------------------------------------------------------------------
// DEFINE ALL COLOR VARIABLES
//
// scss-lint:disable ColorVariable
// -----------------------------------------------------------------------------


// Primary palette
// -----------------------------------------------------------------------------
$primary:           rgb(0, 169, 157);
$primary-dark:      rgb(0, 59, 54);
// -----------------------------------------------------------------------------


// Grayscale values
// -----------------------------------------------------------------------------
$white:             rgb(255, 255, 255);
// -----------------------------------------------------------------------------
